<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Supporttool</title>
    <meta name="author" content="Dominik Brader">
    <meta name="description" content="Support Tool for Tickets">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified CSS -->
    <link href="/web/css/google-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/web/css/materialize.min.css">
    <link rel="stylesheet" href="/web/css/styles.css">
</head>

<body style="opacity: 0;">
<nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Supporttool</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <input type="search" placeholder="Tickets suchen..." class="white-text" style="display: none">
                <ul class="autocomplete-content dropdown-content" tabindex="0" style="    display: block; width: 50%; left: 50%; opacity: 1; top: 64px; z-index: 5; position: absolute;">
                </ul>
            </li>
            <li>
                <a href="/"><i class="material-icons">home</i></a>
            </li>
            <li class="user-button tooltipped" data-position="bottom" data-tooltip="Benutzereinstellungen" style="display: none;">
                <a href="#!"><i class="material-icons">person</i></a>
            </li>
            <li class="logout-button tooltipped" data-position="bottom" data-tooltip="Ausloggen" style="display: none;">
                <a href="#!"><i class="material-icons">exit_to_app</i></a>
            </li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/"><i class="material-icons">home</i>Home</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="main">
    <div class="section no-pad-bot card" id="index-banner">
        <div class="container">
        </div>
    </div>
</div>

<footer class="page-footer grey">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Generelle Information</h5>
                <p class="grey-text text-lighten-4">Logge dich ein um zu deiner Ticketansicht zu gelangen.
                    Ein Suppoortmitarbeiter wird versuchen dir schnellstmöglich weiterzuhelfen.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text"></h5>
                <ul>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="/web/files/handbuch.pdf" target="_blank">Handbuch</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://www.brader.co.at">Dominik Brader</a> und Philipp Schwaighofer
        </div>
    </div>
</footer>

<script src="/web/js/jquery-3.3.1.min.js"></script>
<script src="/web/js/materialize.min.js"></script>
<script src="/web/node_modules/mustache/mustache.min.js"></script>
<script src="/web/node_modules/clipboard/dist/clipboard.min.js"></script>
<script src="https://unpkg.com/vanilla-picker@2"></script>
<script src="/web/js/scripts.js"></script>
</body>

</html>
