.light-green.lighten-1 {
    background-color: cornflowerblue !important;
}
.grey {
    background-color: rgb(128, 133, 133) !important;
}
.orange {
    background-color: rgb(255, 151, 76) !important;
}
.orange-text {
    color: rgb(255, 151, 76) !important;
}
div .card {
    width: 80%;
    margin: 3% auto;
}
div#index-banner {
    width: 50%;
}

.logout-button {
    transform: rotate(180deg);
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.collection .collection-item.avatar {
    list-style: none;
    padding-left: 170px;

    .circle h4 {
        margin-top: 3px;
        text-align: center;
        color: #ffffff;
    }

    .circle.light-green.lighten-1 {
        width: auto;
        padding: 0 16px;
        border-radius: 32px;
        height: 45px !important;
        margin-top: 14px;
    }

    i.material-icons.copy.tooltipped {
        font-size: 14px;
        font-weight: bold;
    }

    .chip {
        height: 20px;
        line-height: 20px;
        margin-top: 5px;
        margin-bottom: 0;
        &.red, &.blue {
            color: #ffffff;
        }
    }

    .createdby {
        display: inline;
    }

    .bold {
        font-weight: bold;
    }

    .copy:hover {
        cursor: pointer;
    }

    .secondary-content {
        height: 100%;
        top: 0 !important;
        line-height: 6;
        i {
            display: inline-flex;
            vertical-align: middle;
            margin-bottom: 3px;
        }
    }
}

.main {
    transition: opacity 0.2s linear;
    opacity: 0;
    min-height: 36em;
}

.no-tickets {
    padding-top: 10px;
}

.preloader-wrapper.small.active {
    height: 20px;
    width: 20px;
}

.loading-toast {
    margin-right: 10px;
}

input.white-text::placeholder {
    color: white;
}

input.white-text {
    border-bottom: 1px solid #fff !important;
    color: white;
    margin-top: 6px !important;
}

h1.header.center.orange-text {
    margin-top: 46px !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}