.light-green.lighten-1 {
    background-color: cornflowerblue !important;
}
.grey {
    background-color: rgb(128, 133, 133) !important;
}
.orange {
    background-color: rgb(255, 151, 76) !important;
}
.orange-text {
    color: rgb(255, 151, 76) !important;
}
div .card {
    width: 80%;
    margin: 7% auto;
}
div#index-banner {
    width: 50%;
}

.logout-button {
    transform: rotate(180deg);
}

.no-margin-top {
    margin-top: 0 !important;
}

.collection .collection-item.avatar {
    list-style: none;
    padding-left: 170px;

    .circle h4 {
        margin-top: 3px;
        text-align: center;
        color: #ffffff;
    }

    .circle.light-green.lighten-1 {
        width: auto;
        padding: 0 16px;
        border-radius: 32px;
        height: 45px !important;
        margin-top: 14px;
    }

    i.material-icons.copy.tooltipped {
        font-size: 14px;
        font-weight: bold;
    }

    .chip {
        height: 20px;
        line-height: 20px;
        margin-top: 5px;
        margin-bottom: 0;
        &.green, &.blue {
            color: #ffffff;
        }
    }

    .bold {
        font-weight: bold;
    }

    .copy:hover {
        cursor: pointer;
    }

    .secondary-content {
        height: 100%;
        top: 0 !important;
        line-height: 6;
        i {
            display: inline-flex;
            vertical-align: middle;
            margin-bottom: 3px;
        }
    }
}

.main {
    transition: opacity 0.2s linear;
    opacity: 0;
}