.light-green.lighten-1 {
    background-color: cornflowerblue !important;
}
.grey {
    background-color: rgb(128, 133, 133) !important;
}
.orange {
    background-color: rgb(255, 151, 76) !important;
}
.orange-text {
    color: rgb(255, 151, 76) !important;
}
div#index-banner {
    width: 50%;
    margin: 7% auto;
}