<div class="section no-pad-bot card" id="index-banner">
    <div class="container">
        <h1 class="header center orange-text login">Einloggen</h1>
        <form method="post" id="registerForm" action="">
            <div class="row center">
                <div class="input-field">
                    <i class="material-icons prefix">mail</i>
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">E-Mail Adresse</label>
                    <span class="helper-text" data-error="Bitte gib eine gültige E-Mail ein."
                          data-success="E-Mail ist gültig."></span>
                </div>
            </div>
            <div class="row center">
                <div class="input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Passwort</label>
                    <span class="helper-text" data-error="Bitte gib ein gültiges Passwort ein."
                          data-success="Passwort ist gültig."></span>
                </div>
            </div>
            <div class="row center">
                <button class="btn-large waves-effect waves-light orange" type="submit" name="action">Einloggen<i
                        class="material-icons prefix right">account_circle</i>
                </button>
            </div>
        </form>
        <br><br>
    </div>
</div>