<h1 class="header center orange-text">Tickets</h1>
<div class="card no-margin-top">
    {{#hasTickets}}
        <div class="row center no-tickets">
            <h6>Du hast bisher noch keine Tickets erstellt.</h6>
        </div>
    {{/hasTickets}}
    <div class="collection">
        {{#tickets}}
            <li class="collection-item avatar">
                <div class="circle light-green lighten-1">
                    <h4>#{{id}}</h4>
                </div>
                <span class="title bold">{{title}}</span>
                <p>Ticketnummer: {{id}} <i onclick="sendToastInformation('Ticketnummer kopiert!')" data-clipboard-text="{{id}}" data-position="right" data-tooltip="Ticketnummer kopieren" class="material-icons copy tooltipped rounded">content_copy</i></p>
                <div class="chip {{color}}">
                    {{status}}
                </div>
                <p class="createdby">
                    erstellt von {{firstname}} {{lastname}}
                </p>
                <a id="{{id}}" href="/Ticket/{{id}}" class="secondary-content">Ticket öffnen <i class="material-icons">send</i></a>
            </li>
        {{/tickets}}
    </div>
</div>
<div id="new-ticket" class="fixed-action-btn direction-bottom tooltipped" data-position="left" data-tooltip="Neues Ticket erstellen">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
</div>